<%- include header %>
<script type="text/javascript" src="/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/plugins/ueditor/ueditor.all.js"></script>
<link type="text/css" href="/plugins/ueditor/themes/default/css/ueditor.css"/>
<script type="text/javascript" charset="utf-8">
    var editor = new baidu.editor.ui.Editor();
    editor.render('editor');  //editor为编辑器容器的id
</script>
<form method="post">
    标题：<br />
    <input type="text" name="title" value="<%= post.title %>"/><br />
    标签：<br />
    <input type="text" name="tag1" value="<%=((post.tags&&post.tags[0])?post.tags[0].tag:'')%>"/>
    <input type="text" name="tag2" value="<%=(post.tags&&post.tags[1])?post.tags[1].tag:''%>"/>
    <input type="text" name="tag3" value="<%=(post.tags&&post.tags[2])?post.tags[2].tag:''%>"/><br />
    正文：<br />
    <textarea name="post" rows="20" cols="100" id="editor"><%= post.post %></textarea><br />
    <input type="submit" value="发表" />
</form>
<%- include footer %>